In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge, Lasso
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('E:\\apartment\\immo_data.csv')
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [4]:
new_df = df[['serviceCharge', 'heatingType', 'telekomUploadSpeed', 'totalRent']]
new_df

,serviceCharge,heatingType,telekomUploadSpeed,totalRent
0,245.00,central_heating,10.0,840.0
1,134.00,self_contained_central_heating,10.0,NaN
2,255.00,floor_heating,2.4,1300.0
3,58.15,district_heating,40.0,NaN
4,138.00,self_contained_central_heating,NaN,903.0
...,...,...,...,...
268845,90.00,heat_pump,10.0,910.0
268846,220.00,gas_heating,NaN,1150.0
268847,220.00,central_heating,40.0,930.0
268848,175.00,heat_pump,NaN,1015.0
268849,315.00,central_heating,NaN,NaN

In [5]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   serviceCharge       261941 non-null  float64
 1   heatingType         223994 non-null  object
 2   telekomUploadSpeed  235492 non-null  float64
 3   totalRent           228333 non-null  float64
dtypes: float64(3), object(1)
memory usage: 8.2+ MB

In [6]:
new_df.drop(new_df[new_df['totalRent'] == 0.0].index, inplace=True)

In [7]:
new_df.fillna(new_df._get_numeric_data().mean(), inplace = True)

In [8]:
new_df['heatingType'].fillna(new_df['heatingType'].mode()[0], inplace=True)

In [9]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268614 entries, 0 to 268849
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   serviceCharge       268614 non-null  float64
 1   heatingType         268614 non-null  object
 2   telekomUploadSpeed  268614 non-null  float64
 3   totalRent           268614 non-null  float64
dtypes: float64(3), object(1)
memory usage: 10.2+ MB

In [10]:
for column in new_df.columns:
    if new_df[column].dtype == 'float64':
        upper = new_df[column].mean() + 3 * new_df[column].std()
        lower = new_df[column].mean() - 3 * new_df[column].std()
        rows = new_df[(new_df[column] > upper) | (new_df[column] < lower)].index

        new_df.drop(rows, inplace=True)

In [11]:
new_df['heatingType'].value_counts()

central_heating                   173518
district_heating                   24767
gas_heating                        19933
self_contained_central_heating     19043
floor_heating                      17658
oil_heating                         5040
heat_pump                           2732
combined_heat_and_power_plant       1976
night_storage_heater                1334
wood_pellet_heating                  961
electric_heating                     900
stove_heating                        341
solar_heating                        166
Name: heatingType, dtype: int64

In [12]:
other = list(new_df['heatingType'].value_counts().tail(8).index)

def edit_heating_type(x):
    if x in other:
        return 'other'
    else:
        return x

In [13]:
new_df['new_heatingType'] = new_df['heatingType'].apply(edit_heating_type)
new_df.drop(columns=['heatingType'], inplace=True)
new_df['new_heatingType'].value_counts()

central_heating                   173518
district_heating                   24767
gas_heating                        19933
self_contained_central_heating     19043
floor_heating                      17658
other                              13450
Name: new_heatingType, dtype: int64

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
columns = []
for col in new_df.columns:
    if new_df[col].dtype == 'object' or new_df[col].dtype == 'bool':
        columns.append(col)
        
dummies_feature = pd.get_dummies(new_df[columns])
new_df = pd.concat([new_df, dummies_feature], axis=1)

new_df.drop(columns=columns, inplace=True)

In [16]:
x = new_df.drop('totalRent', axis=1)
y = new_df['totalRent']
y

0          840.000000
1          902.264082
2         1300.000000
3          902.264082
4          903.000000
             ...
268845     910.000000
268846    1150.000000
268847     930.000000
268848    1015.000000
268849     902.264082
Name: totalRent, Length: 268369, dtype: float64

In [17]:
x.head()

,serviceCharge,telekomUploadSpeed,new_heatingType_central_heating,new_heatingType_district_heating,new_heatingType_floor_heating,new_heatingType_gas_heating,new_heatingType_other,new_heatingType_self_contained_central_heating
0,245.00,10.000000,1,0,0,0,0,0
1,134.00,10.000000,0,0,0,0,0,1
2,255.00,2.400000,0,0,1,0,0,0
3,58.15,40.000000,0,1,0,0,0,0
4,138.00,28.806436,0,0,0,0,0,1

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=21)

In [19]:
min_max_scaler = MinMaxScaler()

In [20]:
x_train = min_max_scaler.fit_transform(x_train)
x_test = min_max_scaler.transform(x_test)

In [21]:
class LiniearRegression_MSE() :   
    def __init__(self, alpha=0.05 , iterations=1000):
        self.alpha = alpha
        self.iter = iterations 
    
    def fit(self, x, y): 
        self.m, self.n = x.shape 
        self.W = np.random.normal(loc=0.0, scale=0.001, size=self.n)
        self.b = 0

        for i in range(self.iter) :
            y_pred = self.predict(x)
            error = y - y_pred
            dW = -(2 * (x.T).dot(error)) / self.m
            db = -2 * np.sum(error) / self.m
            self.W = self.W - self.alpha * dW
            self.b = self.b - self.alpha * db 
        return self

    def predict(self, x) :
        return (x.dot( self.W ) + self.b)

In [22]:
liniearregression_mse = LiniearRegression_MSE(alpha=0.1)

In [23]:
liniearregression_mse.fit(x_train, y_train)

In [24]:
y_pred_mse = liniearregression_mse.predict(x_test)

In [25]:
from sklearn import metrics
metrics.mean_squared_error(y_test, y_pred_mse)

309685.6341790988

In [26]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [27]:
linear_regression = LinearRegression()

In [28]:
linear_regression.fit(x_train, y_train)

LinearRegression()

In [29]:
y_pred_lr = linear_regression.predict(x_test)

In [30]:
metrics.mean_squared_error(y_test, y_pred_lr)

300961.7611459023

## 3 - Lasso, Ridge

In [31]:
df = pd.read_csv('E:\\apartment\\immo_data.csv')
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [33]:
df.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,2.688500e+05,93052.000000,211805.000000,2.688500e+05,268850.000000,268850.000000,268850.000000,268850.000000,162344.000000,217541.000000,171118.000000,268850.000000,268850.000000,85518.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,1.069697e+08,1.327634,3.714544,6.941294e+02,74.355548,3.765256,37283.022235,2.641261,114.749533,2.122405,3.572319,2.571542,3.070790,76.990866,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,1.964874,16.337151,3.323833e+04,46.992207,1.250093e+07,8.361403,2.738134,1.953602e+04,254.759208,2.214357,27798.037296,2.633440,61.653663,3.634934,6.375496,0.937594,1.407127,147.716278,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,2.887174e+07,0.000000,1.000000,0.000000e+00,0.000000,1.000000,852.000000,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.066910e+08,1.000000,1.000000,3.380000e+02,54.000000,2.000000,9128.000000,2.000000,79.000000,1.000000,2.000000,2.000000,2.000000,54.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,1.111584e+08,1.000000,3.000000,4.900000e+02,67.320000,3.000000,38667.000000,3.000000,107.000000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,1.137688e+08,1.000000,5.000000,7.990000e+02,87.000000,5.000000,57072.000000,3.000000,140.300000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,1.157117e+08,2241.000000,9.000000,9.999999e+06,111111.000000,9.000000,99998.000000,999.990000,1996.000000,999.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

In [34]:
df.drop(columns=df.columns[((df.isna().sum()/len(df)) > 0.50)], inplace=True)

In [35]:
df.drop(df[df['livingSpace'] == 0.0].index, inplace=True)

In [36]:
df.drop(df[df['totalRent'] == 0.0].index, inplace=True)
df.shape

(268544, 42)

In [37]:
df.drop(columns=['facilities','description','streetPlain','scoutId','street','streetPlain','firingTypes','houseNumber','date'], inplace=True)

In [38]:
for column in df.columns:
    if df[column].dtype == 'object':
        print('{} : {}'.format(column,df[column].nunique()))

regio1 : 16
heatingType : 13
telekomTvOffer : 3
geo_bln : 16
geo_krs : 419
condition : 10
interiorQual : 4
petsAllowed : 3
typeOfFlat : 10
regio2 : 419
regio3 : 8683

In [39]:
df.fillna(df._get_numeric_data().mean(),inplace = True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268544 entries, 0 to 268849
Data columns (total 34 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268544 non-null  object
 1   serviceCharge         268544 non-null  float64
 2   heatingType           223716 non-null  object
 3   telekomTvOffer        235964 non-null  object
 4   newlyConst            268544 non-null  bool
 5   balcony               268544 non-null  bool
 6   picturecount          268544 non-null  int64
 7   pricetrend            268544 non-null  float64
 8   telekomUploadSpeed    268544 non-null  float64
 9   totalRent             268544 non-null  float64
 10  yearConstructed       268544 non-null  float64
 11  hasKitchen            268544 non-null  bool
 12  geo_bln               268544 non-null  object
 13  cellar                268544 non-null  bool
 14  yearConstructedRange  268544 non-null  float64
 15  baseRent              268544 non-null  float64
 16  livingSpace           268544 non-null  float64
 17  geo_krs               268544 non-null  object
 18  condition             200211 non-null  object
 19  interiorQual          156055 non-null  object
 20  petsAllowed           154144 non-null  object
 21  lift                  268544 non-null  bool
 22  baseRentRange         268544 non-null  int64
 23  typeOfFlat            231950 non-null  object
 24  geo_plz               268544 non-null  int64
 25  noRooms               268544 non-null  float64
 26  thermalChar           268544 non-null  float64
 27  floor                 268544 non-null  float64
 28  numberOfFloors        268544 non-null  float64
 29  noRoomsRange          268544 non-null  int64
 30  garden                268544 non-null  bool
 31  livingSpaceRange      268544 non-null  int64
 32  regio2                268544 non-null  object
 33  regio3                268544 non-null  object
dtypes: bool(6), float64(12), int64(5), object(11)
memory usage: 61.0+ MB

In [41]:
df.drop(columns=['geo_plz', 'telekomUploadSpeed', 'telekomTvOffer', 'noRoomsRange', 'geo_bln'], inplace=True)
df.shape

(268544, 29)

In [42]:
df.drop_duplicates(keep=False,inplace=True)
df.shape

(265360, 29)

In [43]:
for column in df.columns:
  print(df[column].dtype)

object
float64
object
bool
bool
int64
float64
float64
float64
bool
bool
float64
float64
float64
object
object
object
object
bool
int64
object
float64
float64
float64
float64
bool
int64
object
object

In [44]:
for column in df.columns:
    if df[column].dtype == 'int64' or df[column].dtype == 'float64':
        upper = df[column].mean() + 3 * df[column].std()
        lower = df[column].mean() - 3 * df[column].std()
        rows = df[(df[column] > upper) | (df[column] < lower)].index

        df.drop(rows, inplace=True)

In [45]:
df.isna().sum()

regio1                       0
serviceCharge                0
heatingType              42783
newlyConst                   0
balcony                      0
picturecount                 0
pricetrend                   0
totalRent                    0
yearConstructed              0
hasKitchen                   0
cellar                       0
yearConstructedRange         0
baseRent                     0
livingSpace                  0
geo_krs                      0
condition                65004
interiorQual            106950
petsAllowed             108488
lift                         0
baseRentRange                0
typeOfFlat               34757
noRooms                      0
thermalChar                  0
floor                        0
numberOfFloors               0
garden                       0
livingSpaceRange             0
regio2                       0
regio3                       0
dtype: int64

In [46]:
df['regio1'].value_counts()

Nordrhein_Westfalen       60089
Sachsen                   55595
Bayern                    20381
Sachsen_Anhalt            19466
Hessen                    16809
Niedersachsen             15883
Baden_Württemberg         15360
Thüringen                  8133
Rheinland_Pfalz            8040
Berlin                     7748
Brandenburg                6634
Mecklenburg_Vorpommern     6430
Schleswig_Holstein         6332
Hamburg                    3549
Bremen                     2876
Saarland                   1352
Name: regio1, dtype: int64

In [47]:
index_list = list(df['regio1'].value_counts().tail(9).index)

In [48]:
def update(column):
    if column in index_list:
        return 'other'
    return column

In [49]:
df['updated_regio1'] = df['regio1'].apply(update)
df.drop(columns=['regio1'], inplace=True)
df['updated_regio1'].value_counts()

Nordrhein_Westfalen    60089
Sachsen                55595
other                  51094
Bayern                 20381
Sachsen_Anhalt         19466
Hessen                 16809
Niedersachsen          15883
Baden_Württemberg      15360
Name: updated_regio1, dtype: int64

In [50]:
df['regio2'].value_counts()

Leipzig                         13123
Chemnitz                        12074
Berlin                           7748
Dresden                          7260
Magdeburg                        4691
                                ...
Schweinfurt_Kreis                  27
Haßberge_Kreis                     21
Freyung_Grafenau_Kreis             20
Neustadt_a.d._Waldnaab_Kreis       16
Kronach_Kreis                      11
Name: regio2, Length: 419, dtype: int64

In [51]:
index_list = list(df['regio2'].value_counts().tail(405).index)
df['updated_regio2'] = df['regio2'].apply(update)
df.drop(columns=['regio2'], inplace=True)
df['updated_regio2'].value_counts()

other                  176894
Leipzig                 13123
Chemnitz                12074
Berlin                   7748
Dresden                  7260
Magdeburg                4691
Halle_Saale              4383
Essen                    4103
München                  3997
Frankfurt_am_Main        3937
Hamburg                  3549
Düsseldorf               3505
Duisburg                 3376
Dortmund                 3020
Mittelsachsen_Kreis      3017
Name: updated_regio2, dtype: int64

In [52]:
df.head()

,serviceCharge,heatingType,newlyConst,balcony,picturecount,pricetrend,totalRent,yearConstructed,hasKitchen,cellar,yearConstructedRange,baseRent,livingSpace,geo_krs,condition,interiorQual,petsAllowed,lift,baseRentRange,typeOfFlat,noRooms,thermalChar,floor,numberOfFloors,garden,livingSpaceRange,regio3,updated_regio1,updated_regio2
0,245.00,central_heating,False,False,6,4.62,840.000000,1965.0,False,True,2.0,595.0,86.00,Dortmund,well_kept,normal,NaN,False,4,ground_floor,4.0,181.40000,1.000000,3.000000,True,4,Schüren,Nordrhein_Westfalen,Dortmund
1,134.00,self_contained_central_heating,False,True,8,3.47,902.268665,1871.0,False,False,1.0,800.0,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,False,5,ground_floor,3.0,114.72574,2.122786,3.574554,False,4,Böhl_Iggelheim,other,other
2,255.00,floor_heating,True,True,8,2.72,1300.000000,2019.0,False,True,9.0,965.0,83.80,Dresden,first_time_use,sophisticated,NaN,True,6,apartment,3.0,114.72574,3.000000,4.000000,False,4,Äußere_Neustadt_Antonstadt,Sachsen,Dresden
3,58.15,district_heating,False,True,9,1.53,902.268665,1964.0,False,False,2.0,343.0,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,False,2,other,3.0,86.00000,3.000000,3.574554,False,2,Freiberg,Sachsen,Mittelsachsen_Kreis
4,138.00,self_contained_central_heating,False,True,19,2.46,903.000000,1950.0,False,False,1.0,765.0,84.97,Bremen,refurbished,NaN,NaN,False,5,apartment,3.0,188.90000,1.000000,3.574554,False,4,Neu_Schwachhausen,other,other

In [53]:
df.drop(columns=['petsAllowed', 'geo_krs', 'condition'], inplace=True)
df.shape

(254677, 26)

In [54]:
df['regio3'].value_counts()

Innenstadt     4509
Stadtmitte     2598
Altstadt       2208
Sonnenberg     1865
Kaßberg        1659
               ...
Wiethagen         1
Longuich          1
Lichtenwald       1
Wrestedt          1
Nottensdorf       1
Name: regio3, Length: 8585, dtype: int64

In [55]:
index_list = list(df['regio3'].value_counts().tail(8500).index)
df['updated_regio3'] = df['regio3'].apply(update)
df.drop(columns=['regio3'], inplace=True)
df['updated_regio3'].value_counts()

other                 198203
Innenstadt              4509
Stadtmitte              2598
Altstadt                2208
Sonnenberg              1865
                       ...
Nördliche_Neustadt       371
Hildesheim               370
West                     367
Gohlis_Nord              364
Weißenfels               364
Name: updated_regio3, Length: 86, dtype: int64

In [56]:
df['heatingType'].fillna(df['heatingType'].mode()[0], inplace=True)
df['interiorQual'].fillna(df['interiorQual'].mode()[0], inplace=True)
df['typeOfFlat'].fillna(df['typeOfFlat'].mode()[0], inplace=True)

In [57]:
df.isna().sum()

serviceCharge           0
heatingType             0
newlyConst              0
balcony                 0
picturecount            0
pricetrend              0
totalRent               0
yearConstructed         0
hasKitchen              0
cellar                  0
yearConstructedRange    0
baseRent                0
livingSpace             0
interiorQual            0
lift                    0
baseRentRange           0
typeOfFlat              0
noRooms                 0
thermalChar             0
floor                   0
numberOfFloors          0
garden                  0
livingSpaceRange        0
updated_regio1          0
updated_regio2          0
updated_regio3          0
dtype: int64

In [59]:
df['heatingType'].value_counts()

central_heating                   165193
district_heating                   23422
gas_heating                        18932
self_contained_central_heating     17713
floor_heating                      16591
oil_heating                         4816
heat_pump                           2627
combined_heat_and_power_plant       1885
night_storage_heater                1270
wood_pellet_heating                  915
electric_heating                     854
stove_heating                        302
solar_heating                        157
Name: heatingType, dtype: int64

In [60]:
index_list = list(df['heatingType'].value_counts().tail(8).index)
df['updated_heatingType'] = df['heatingType'].apply(update)
df.drop(columns=['heatingType'], inplace=True)
df['updated_heatingType'].value_counts()

central_heating                   165193
district_heating                   23422
gas_heating                        18932
self_contained_central_heating     17713
floor_heating                      16591
other                              12826
Name: updated_heatingType, dtype: int64

In [61]:
df['typeOfFlat'].value_counts()

apartment              159140
roof_storey             33152
ground_floor            30086
other                    9027
maisonette               8585
raised_ground_floor      5399
penthouse                3271
terraced_flat            3177
half_basement            1964
loft                      876
Name: typeOfFlat, dtype: int64

In [62]:
index_list = list(df['typeOfFlat'].value_counts().tail(7).index)
df['updated_typeOfFlat'] = df['typeOfFlat'].apply(update)
df.drop(columns=['typeOfFlat'], inplace=True)
df['updated_typeOfFlat'].value_counts()

apartment       159140
roof_storey      33152
other            32299
ground_floor     30086
Name: updated_typeOfFlat, dtype: int64

In [63]:
df['total_rent'] = df['totalRent'].copy(deep=True)
df.drop(columns=['totalRent'], inplace=True)
df.total_rent

0          840.000000
1          902.268665
2         1300.000000
3          902.268665
4          903.000000
             ...
268845     910.000000
268846    1150.000000
268847     930.000000
268848    1015.000000
268849     902.268665
Name: total_rent, Length: 254677, dtype: float64

In [64]:
columns = []
for col in df.columns:
    if df[col].dtype == 'object' or df[col].dtype == 'bool':
        columns.append(col)
        
dummies_feature = pd.get_dummies(df[columns])
df = pd.concat([df, dummies_feature], axis=1)

df.drop(columns=columns, inplace=True)

In [65]:
y = df['total_rent']
x = df.drop('total_rent', axis=1)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=21)

In [66]:
for col in x_train.columns:
    if (x_train[col].dtype == 'int64' or x_train[col].dtype == 'float64') and not x_train[col].isin([0, 1]).all():
          x_train[col] = ((x_train[col] - x_train[col].mean())/(x_train[col].std()))

for col in x_test.columns:
    if (x_test[col].dtype == 'int64' or x_test[col].dtype == 'float64') and not x_test[col].isin([0, 1]).all():
          x_test[col] = ((x_test[col] - x_test[col].mean())/(x_test[col].std()))

In [67]:
from sklearn import metrics

In [68]:
ridge = Ridge(alpha=1)
ridge.fit(x_train, y_train)
y_pred_rdg = ridge.predict(x_test)

In [69]:
metrics.r2_score(y_test, y_pred_rdg)

0.8163727825401039

In [70]:
lasso = Lasso(alpha=0.1)
lasso.fit(x_train, y_train)
y_pred_las = lasso.predict(x_test)

In [71]:
metrics.r2_score(y_test, y_pred_las)

0.816444174429503